@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import 'colors';
@import './mixin';
@mixin undelinePage($page) {
  ##{$page}::before {
    height: 2px;
    background-image: $rainbow;
  }
}
$header_height: 100px;
$footer_height: 75px;
header,
footer {
  z-index: 12;
  color: $white;
  display: flex;
  width: 100%;
  ul {
    display: flex;
    li {
      white-space: nowrap;
      margin: 0 2vw;
      padding-bottom: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      text-transform: lowercase;
      font-style: italic;
      position: relative;

      span {
        display: block;
      }
      img {
        display: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.logo {
  font-family: 'Jacques Francois Shadow', cursive;
  a {
    font-family: 'Jacques Francois Shadow', cursive;
  }
  font-size: 2rem;
  text-transform: uppercase;
}
header {
  background: $background;
  position: sticky;
  top: 0;
  height: $header_height;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 20px;

  .links {
    display: flex;
    justify-content: center;
    li {
      &#cart {
        position: relative;
        .number {
          position: absolute;
          font-size: 0.9rem;
          top: -5px;
          right: -12px;
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
          background-color: rgb(255, 64, 64);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 1.5px;
      }
      &:hover {
        &::before {
          background-image: $rainbow;
        }
      }
    }
  }
  &.home {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    @include undelinePage('home');
  }
  &.about {
    position: relative;
    @include undelinePage('about');
  }
  &.products,
  &.none {
    @include undelinePage('products');
  }
  &.wishlist {
    @include undelinePage('wishlist');
  }
  &.cart {
    @include undelinePage('cart');
  }
  &.none {
    position: relative;
  }
}
.children.wishlist,
.children.cart,
.children.products,
.children.none,
.products-and-menu,
section.cart {
  min-height: calc(100vh - ($header_height + $footer_height));
}
.children {
  background-color: #fff;
}
.children.home {
  z-index: 15;
}
footer {
  height: $footer_height;
  background-color: $background-footer;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  padding: 0 clamp(80px, 15vw, 204px);

  .large {
    p {
      a {
        font-size: 0.85rem;
        &:hover {
          @include clipText;
        }
      }
    }
  }
  .large-logos-box {
    overflow: hidden;
    height: 174px;
  }
  ul.large-logos {
    height: 100%;
    position: relative;
    width: 50vw;
    transform: translateY(-174px);
    li {
      width: -webkit-fill-available;
      margin: auto !important;
      align-items: center;
      height: 100%;
      &.versace {
        padding: calc(10px + 5vw) calc(35px + 5vw);
      }
      &.hermes {
        padding: 3.5vw;
      }
      &.ysl {
        padding: 4vw;
        a {
          top: 40%;
          position: relative;
        }
      }
      &.dior {
        text-align: center;
        a {
          top: 30%;
          position: relative;
        }
        svg {
          width: 20vw;
        }
      }
      &.lv {
        a {
          top: 40%;
          position: relative;
        }
        svg {
          width: 100%;
          height: 30px;
        }
      }
      &.chanel {
        a {
          top: 38%;
          position: relative;
        }
        svg {
          width: 100%;
          height: 35px;
        }
        padding: 2.5vw;
      }
      &.balenciaga {
        a {
          top: 40%;
          position: relative;
        }
        img {
          width: 50%;
          height: auto;
        }
      }
      img {
        width: auto;
        margin: auto;
        max-width: 100%;
        display: block;
      }
    }
  }
  ul#contact {
    li {
      &:hover {
        @include clipText;
      }
    }
  }
  &.home {
    padding: 0 5vw;
    height: max-content;
    background-color: #fff;
    color: #000;
    .large {
      p {
        text-align: center;
        font-weight: bold;
      }
      .logo {
        font-size: 6rem;
      }
    }
    ul {
      display: block;
      font-weight: bold;
      li {
        margin: 2vw;
        font-size: 1.2rem;
      }
    }
  }
}
@keyframes underline {
}
@media screen and (max-width: 768px) {
  header {
    position: static;
    .links {
      li {
        &:hover {
          &::before {
            background-image: unset;
          }
        }
      }
    }
  }
  footer {
    .large-logos-box {
      display: none;
    }
  }
}
@media screen and (max-width: 500px) {
  header,
  footer {
    padding: 0 3vw;
    .logo {
      font-size: 10vw;
    }
    ul#contact,
    ul.links {
      li {
        width: 6.2vw;
        margin: 0 3vw;
        span {
          display: none;
        }
        img {
          display: block;
        }
        &::before {
          bottom: -5px;
        }
      }
    }
  }
  footer {
    padding: 0 4vw;
    ul {
      li {
        width: 5.5vw;
        margin: 0 2.5vw;
      }
    }
    &.home {
      ul {
        display: flex;
        li {
          margin: 0 2.5vw;
        }
      }
    }
  }
}
