@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import 'colors';
@mixin undelinePage($page) {
  ##{$page}::before {
    height: 2px;
    background-image: $rainbow;
  }
}

header,
footer {
  z-index: 3;
  background-color: $background;
  color: $white;
  display: flex;
  width: 100%;
  ul {
    display: flex;
    li {
      white-space: nowrap;
      margin: 0 2vw;
      padding-bottom: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      text-transform: lowercase;
      font-style: italic;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 1.5px;
      }
      &:hover {
        cursor: pointer;
        &::before {
          background-image: $rainbow;
        }
      }
    }
  }
  &.home {
    // position: sticky;
    position: fixed;
    top: 0;
    // background-color: rgba(0, 0, 0, 0.11);
    background-color: rgba(0, 0, 0, 0);
    @include undelinePage('home');
  }
  &.about {
    @include undelinePage('about');
  }
  &.products {
    @include undelinePage('products');
  }
  &.wishlist {
    @include undelinePage('wishlist');
  }
  &.cart {
    @include undelinePage('cart');
  }
}
.logo {
  a {
    font-family: 'Jacques Francois Shadow', cursive;
  }
  font-size: 2rem;
  text-transform: uppercase;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 20px;

  .links {
    display: flex;
    justify-content: center;
    li {
      span {
        display: block;
      } 
      img {
        display: none;
      }
      &#cart {
        position: relative;
        .number{
          position: absolute;
          font-size: .9rem;
          top: -5px;
          right: -12px;
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
          background-color: rgb(255, 64, 64);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
footer {
  // height: 50px;
  justify-content: space-between;
  align-items: flex-end;
  // padding: 0 20vw 2vh;
  font-size: 0.9rem;
  // background-color: $background;
  // position: absolute;
  // bottom: 0;
  ul {
    // justify-content: ;
  }
  .large {
    .logo {
      font-size: 9rem;
    }
  }
}
@keyframes underline {
}
@media screen and (max-width: 500px) {
  header {
    padding: 0 3vw;
    .logo {
      font-size: 10vw;
    }
    .links {
      li {
        width: 6.5vw;
        margin: 0 3vw;
        span {
          display: none;
        }
        img {
          display: block;
        }
        &::before {
          bottom: -5px;
        }
      }
    }
  }
}
