@import './colors';
@import './mixin';

.product {
  display: block;
  .images {
    display: flex;
    width: 100%;
    position: relative;
    .markers {
      position: absolute;
      width: 100%;
      top: 60%;
      display: flex;
      justify-content: space-between;
      div {
        opacity: 0.5;
        width: 2.6rem;
        height: 2.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 1.6rem;
          height: 1.6rem;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.116);
          backdrop-filter: blur(20px);
          opacity: 1;
        }
      }
    }
    .img-box {
      z-index: -2;
      width: 50%;
      display: none;
      transition: ease-in;
      img {
        object-fit: cover;
      }
      &.one,
      &.two {
        display: block;
      }
      &.one {
        order: 1;
      }
      &.two {
        order: 2;
      }
    }
    .abs {
      display: none;
      position: absolute;
      top: 7%;
      left: 2%;
      .navigation {
        padding: 4px 20px;
        border: 1px solid #a8a8a8;
        border-radius: 3px;
        width: max-content;

        img {
          width: 30px;
          position: relative;
          top: 3px;
        }
      }
      ul.list {
        max-width: calc(21vw + 10px);
        flex-wrap: wrap;
        display: flex;
        li {
          position: relative;
          width: 7.5vw;
          height: 7.5vw;
          margin: 1px;
          border-radius: 3px;
          border: 3px solid transparent;
          &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            transform: translate(-1px, -1px);
            backdrop-filter: blur(20px);
          }
          img {
            background-color: white;
            object-fit: cover;
            object-position: bottom;
          }
          &:hover {
            cursor: pointer;
            &::after {
              background: $rainbow;
            }
          }
        }
      }
    }
  }
  .details {
    padding: 10px;
    width: 100%;

    &::after {
      background: rgba(255, 255, 255, 0);
    }
    h1 {
      font-size: 2rem;
      text-transform: capitalize;
    }
    .heart-price {
      display: flex;
      justify-content: space-between;

      .addToWL {
        width: 30px;
        svg {
          path {
          }
        }
      }
      .amount {
        font-size: 1.5rem;
      }
    }
    .description {
      padding: 3px 0;
    }
    .options {
      .box {
        padding: 7px 0;
        h4 {
          text-transform: lowercase;
          font-size: 1.1rem;
        }
        ul {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 5px 8px;
            margin: 7px;
            margin-left: 0;
            &.selected {
              position: relative;
              border-color: rgba(153, 153, 153, 0.411);

              &.color {
                border: 0 !important;
                &::after {
                  z-index: -1;
                  content: '';
                  position: absolute;
                  border: 2px solid rgba(208, 88, 255, 0.288);
                  background-image: $rainbow;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 100%;
                  height: 100%;

                  border-radius: 50%;
                }
              }
            }
            &.color {
              border: 1px solid rgba(165, 161, 161, 0.226);
              width: 35px;
              height: 35px;
              margin: 8px 15px;
              margin-left: 0;
              border-radius: 50%;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .counter {
      margin: 10px 0;
      width: max-content;
      .inner {
        button,
        span {
          color: $text;
          width: clamp(38px, 10vw, 90px);
          font-size: 1.3rem;
          border-bottom: 1px solid rgba(128, 120, 120, 0.596);
          padding-bottom: 2px;
        }
        button {
          font-style: normal;
          &:hover {
            border-color: black;
          }
          &:active {
            transform: translateY(1px);
          }
        }
      }
    }
    .btn-box {
      margin-top: 3vh;
      width: 100%;
      text-align: end;
      button {
        font-size: 1.2rem;
        position: relative;
        padding: 9px clamp(26px, 10vw, 69px);
        margin: 5px 0;
        color: $text;
        border: 1px solid rgba(128, 120, 120, 0.596);
        background-color: unset;
        &::after {
          z-index: -1;
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(61, 56, 56, 0.295);
          filter: blur(3px);
        }
        &:hover {
          transform: translateY(-1px);
          background-color: hsla(0, 0%, 100%, 0.212);
          border-color: rgba(255, 88, 138, 0.144);
        }
        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}
.recommend {
  margin-top: 10vh;
  h2 {
    font-size: 1.8rem;
    text-align: start;
  }
  .productItems {
    position: relative;
    .product-card {
      width: calc(50% - 5vw);
      .img-box {
        height: 38vw;
        img {
          object-position: bottom;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .product {
    display: flex;
    position: relative;

    .images {
      display: flex;
      width: 60%;
      height: max-content;
      position: sticky;
      top: 100px;
      .markers {
        div {
          opacity: 0.3;
        }
      }
      .img-box {
        z-index: -2;
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 5vh;
        display: none;

        left: 5%;
        &.one {
          display: flex;
        }
        &.two {
          display: none;
        }
      }
      .abs {
        display: block;
      }
    }
    .details {
      padding-top: 10vh;
      width: 40%;

      position: sticky;
      top: 120px;
      &::after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
    }
  }
  .recommend {
    .productItems {
      .product-card {
        width: calc(33% - 5vw);
        .img-box {
          height: 30vw;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .product {
    .images {
      .img-box {
        &.one {
          display: flex;
          width: 100%;
          max-height: 40vh;
          img {
            object-fit: contain;
          }
        }
        &.two {
          display: none;
        }
      }
    }
  }
}
