.WL-list.productItems {
  .product-card {
    width: calc(33% - 5vw);
    .img-box {
      height: 30vw;
    }
    .details {
      h4 {
        text-transform: capitalize;
      }
      .flex {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .hearts {
          display: flex;
          align-items: baseline;
          .addToWL {
            width: 25px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1011px) {
  .WL-list.productItems {
    .product-card {
      width: calc(50% - 5vw);
      .img-box {
        height: 40vw;
        img {
          object-position: bottom;
        }
      }
    }
  }
}
