@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
$weLove: rgba(255, 255, 255, 0.827);
// $weLove: rgba(235, 178, 178, 0.827);
section.banner {
  padding: 0;
  height: 90vh;
  position: relative;
  .img-box {
    width: 100%;
    height: inherit;
    img {
      object-position: 35% 40%;
      object-fit: cover;
    }
  }
  .text {
    font-family: 'Play', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.212);
    svg {
      text-transform: uppercase;
      height: 100%;
      width: 100%;
      position: relative;
      width: 100%;
      text {
        transform: translate(10%, 40%);
        font-size: 8vw;
        stroke: $weLove;
        stroke-width: 1px;
        stroke-dasharray: none;
        stroke-dashoffset: 900;
        fill:  rgba(255, 255, 255, 0.267);
        // fill:  rgba(235, 178, 178, 0.267);
        animation: dash 6s ease-out alternate 1 backwards;
      }
    }
  }
}
@keyframes dash {
  from {
    stroke-dasharray: 900;
    stroke-dashoffset: 900;
    fill: transparent;
  }
  to {
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    // fill: $weLove;
  }
}
